name: Continuous Integration

on: 
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['18.x', '20.x']

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: developer
          POSTGRES_PASSWORD: supersecretpassword
          POSTGRES_DB: forumapi
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Wait for Postgres to be ready
      run: |
        until pg_isready -h localhost -p 5432; do
          echo "Waiting for Postgres...";
          sleep 5;
        done

    - name: Create additional test database
      run: |
        psql -h localhost -U developer -c "CREATE DATABASE forumapi_test;"
      env:
        PGPASSWORD: supersecretpassword

    - name: Install dependencies, migrate, and run tests
      run: |
        npm install
        npm run migrate # migrasi untuk database utama
        npm run migrate:test # migrasi untuk database test
        npm run test
      env:
        CI: true
        HOST: localhost
        PORT: 5000
        PGHOST: localhost
        PGUSER: developer
        PGDATABASE: forumapi
        PGPASSWORD: supersecretpassword
        PGPORT: 5432

        # Test environment variables
        PGHOST_TEST: localhost
        PGUSER_TEST: developer
        PGDATABASE_TEST: forumapi_test
        PGPASSWORD_TEST: supersecretpassword
        PGPORT_TEST: 5432

        # Token keys
        ACCESS_TOKEN_KEY: supersecretaccesskey
        REFRESH_TOKEN_KEY: supersecretrefreshkey
        ACCCESS_TOKEN_AGE: 3000
